<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name=" viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesion</title>
    <link rel="stylesheet"  href="style-login.css">
    <script src="Login.js" defer></script>
    <style>
        body {
            background-image: url(LoginFondo.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }
    </style>
    
</head>
<body>
    <main>
        <div class="Formulario">
            <h1>Iniciar Sesión</h1>
            <p>Ingrese sus datos:</p>
            <form id="Login">
                <label for="usuario" class="sr-only">Usuario</label>
                <input type="text" name="usuario" id="usuario" placeholder="Nombre de usuario">
                <label for="contraseña" class="sr-only">Contraseña</label>
                <input type="text" name="contraseña" id="contraseña" placeholder="Ingrese contraseña">
                <button type="submit">Iniciar Sesión</button>
            </form>
            <p>¿Todavía no tenés una cuenta? Registrate - <a href= "register.html">Registrarme</a></p>
        </div>
    
    </main>
</body>

</html>