body{
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex; /*centra todo*/
    justify-content: center; /*centra en eje principal*/
    align-items: center;/*centrar en el eje vertial*/
    min-height: 100svh; /*altura de la pantalla*/
    font-size: large;/*Agranda la fuente*/
}
h1{
    color: whitesmoke;
}
p{
    color: white;
}

.Formulario{
    width: 500px;
    background-color:chocolate;
    border-radius: 10px;
    padding: 50px;
}
form{
    font-display: flex;
    flex-direction: column;
    gap: 10px;
}
form + p{
    text-align: center;
    font-family: cursive;
    color: white;

}
input,button{
    border-radius: 4px;
    border: unset;
    padding: 5px 10px;
    font-size: large;
}
button{
    background-color: white;
    color:black;
    cursor: pointer;
    padding: 5px 10px;
    position: relative;
    left: 180px;
    top: 10px;
}
.sr-only{ 
    position:absolute;
    left:-1000px;
    top:auto;
    width: 1px;
    height: 1px;;
    overflow: hidden;
}
.Formulario-Register{
    width: 500px;
    background-color:chocolate;
    border-radius: 10px;
    padding: 50px;
    
}
form + input, button{
    border-radius: 4px;
    border: unset;
    padding: 5px 10px;
    font-size: large;
}
button{
    background-color: white;
    color:black;
    cursor: pointer;
    padding: 5px 10px;
    position: relative;
    left: 180px;
    top: 10px;
}
