h1{
    color: whitesmoke;
}
p{
    color: white;
}

body{
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    font-size: large;
}
.Formulario{
    width: 500px;
    background-color:chocolate;
    border-radius: 10px;
    padding: 50px;
}
form{
    font-display: flex;
    flex-direction: column;
    gap: 10px;
}
form + p{
    text-align: center;

}
input,button{
    border-radius: 4px;
    border: unset;
    padding: 5px 10px;
    font-size: large;
}
button{
    background-color: white;
    color:black;
    cursor: pointer;
    padding: 5px 10px;
    position: relative;
    left: 180px;
    top: 10px;
}
h5{
    font-family: cursive;
}

.sr-only{
    position:absolute;
    left:-1000px;
    top:auto;
    width: 1px;
    height: 1px;;
    overflow: hidden;
}

